<!-- <div class="overflow-hidden rounded-lg flex">
  <table class="w-[80%] mx-auto bg-white border border-gray-200 text-justify">
    <thead>
      <tr class="bg-gray-100">
        <th class="py-2 px-4 border-b"></th>
        <th class="py-2 px-4 border-b">Name</th>
        <th class="py-2 px-4 border-b">Price</th>
        <th class="py-2 px-4 border-b">Units in stock</th>
      </tr>
    </thead>
    <tbody>
      @for (productItem of products; track productItem) {
        <tr class="hover:bg-gray-50">
          <td class="py-2 px-4 border-b">
            <img src="{{ productItem.imageUrl }}" class="h-14 my-2" />
          </td>
          <td class="py-2 px-4 border-b">{{ productItem.name }}</td>
          <td class="py-2 px-4 border-b">
            {{ productItem.unitPrice | currency: "USD" }}
          </td>
          <td class="py-2 px-4 border-b">
            {{ productItem.unitsInStock }}
          </td>
        </tr>
      }
    </tbody>
  </table>
</div> -->
<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <!-- loop over the collection of products -->
        @if (products.length == 0) {
          <div class="alert alert-warning col-md-12" role="alert">
            No products found
          </div>
        }

        @for (tempProduct of products; track tempProduct) {
          <div class="col-md-3">
            <div class="product-box">
              <img src="{{ tempProduct.imageUrl }}" class="img-responsive" />
              <h1>{{ tempProduct.name }}</h1>
              <div class="price">
                {{ tempProduct.unitPrice | currency: "USD" }}
              </div>
              <a href="#" class="primary-btn">Add to cart</a>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
